body {
    background-color: rgb(0, 0, 0);
    /* color: green; */
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    color: azure;
    background: linear-gradient(181deg, #F3EAEA 0%, #616161 82%);
    box-shadow: 0px 0px 8px 2px #fcfcfc inset;
    width: 60%;
    height: 90px;
    font-size: large;
    margin: auto;
    border-radius: 5px;

}
.header span {
    font-size: small;
    color: black;
    text-shadow: 0px 0px 4px #BFBFBF;
    cursor: pointer;

}

table {
    margin: auto;
}

td {
    width: 36px;
    height: 36px;
    background-color: gray;
}

.clickedCell {
    background-color: rgb(138, 138, 138);
    box-shadow: 0px 0px 8px 2px #fcfcfc inset
}

.mine {
    background-image: url(img/mine.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 0px 8px 2px #fcfcfc inset
}

.flag {
    background-image: url(img/red-flag.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 0px 8px 2px #fcfcfc inset
}

.stats-bar {
    color: azure;
    background: linear-gradient(181deg, #F3EAEA 0%, #616161 82%);
    box-shadow: 0px 0px 8px 2px #fcfcfc inset;
    width: 60%;
    height: 45px;
    font-size: large;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.lives-counter, .icon, .timer {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.heart {
    background-image: url(img/heart.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 36px;
    height: 36px;
}

.beat {
    animation: myAnim 1s ease 0s infinite normal backwards;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

.icon-btn {
    background-image: url(img/happiness.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 36px;
    height: 36px;
}

.tools {
    color: azure;
    background: linear-gradient(181deg, #F3EAEA 0%, #616161 82%);
    box-shadow: 0px 0px 8px 2px #fcfcfc inset;
    width: 60%;
    height: 90px;
    font-size: large;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.hints, .safe-click, .best-score {
    width: 25%;
    height: 65px;
    padding-top: 7px;
}

.tools-btn {
    color: white;
    background-color: #242424;
    border-radius: 25px;
}

.mark {
    background-image: url(img/shield.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: myMark 1s ease-in 0s infinite normal none;
}

@keyframes myMark {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}