body {
    background-color: black;
    color: green;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    color: azure;
    background-color: rgb(97, 97, 97);
    box-shadow: 0px 0px 8px 2px #fcfcfc inset;
    width: 60%;
    height: 90px;
    font-size: large;
    margin: auto;

}
.header span {
    font-size: small;
    color: black;
    text-shadow: 0px 0px 4px #BFBFBF;

}
table {
    margin: auto;
}

td {
    width: 36px;
    height: 36px;
}

.cell {
    background-color: gray;
}

.clickedCell {
    background-color: rgb(138, 138, 138);
    box-shadow: 0px 0px 8px 2px #fcfcfc inset
}

.mine {
    background-image: url(img/mine.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 0px 8px 2px #fcfcfc inset
}

.flag {
    background-image: url(img/red-flag.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 0px 8px 2px #fcfcfc inset
}

.time {
    background-color: aquamarine;
}

.stats-bar {
    color: azure;
    background-color: rgb(97, 97, 97);
    box-shadow: 0px 0px 8px 2px #fcfcfc inset;
    width: 60%;
    height: 40px;
    font-size: large;
    margin: auto;
}